//to delete background of a
.info_article
	.info_content
		a 
			background none
			text-decoration none
.sponsor_img
	margin 5em 1em
	text-align center
	display none
	img 
		margin 1em 0.5em
		width 220px
		-webkit-filter: grayscale(100%);
	  	-moz-filter: grayscale(100%);
	  	-ms-filter: grayscale(100%);
	  	-o-filter: grayscale(100%);
	  	filter: grayscale(100%);
	  	filter: url(grayscale.svg#greyscale); /* Firefox 4+ */
	  	filter: gray; /* IE 6-9 */
	  	opacity 0.5
.sponsor_img:hover
	img
		-webkit-filter: grayscale(0%);
	  	-moz-filter: grayscale(0%);
	  	-ms-filter: grayscale(0%);
	  	-o-filter: grayscale(0%);
	  	filter: grayscale(0%);
	  	opacity 1
	
#chrome_img
	width 90px
#gatoverde_img,#lafina_img
	width 150px
#ff_img
	width 100px
#unknown_img,#ds_img,#delorean_img,#state_img
	width 150px
#purefix_img,#freaky_img,#labella_img,#treintaytres_img,#mitote_img
	width 130px
#cano_img,#sumar_img,#fusion_img
	width 120px
#yy_img,#faton_img,#oxxo_img,#cyclecity_img,#cuarenta_img,#bz_img
#corona_img,#fyxation_img
	width 180px	